<section class="p-6" id="blogs">
    <section class="text-4xl text-sky-900 font-bold italic mb-8">About Centre</section>
    <p>International Humanitarian Law (IHL) and Human Rights Law (HRL) forms a major part of public international law. International Humanitarian Law is a set of rules which seek, for humanitarian reasons, to limit the effects of armed conflict. It protects persons who are not or are no longer participating in the hostilities and restricts the means and methods of warfare. International humanitarian law is also known as the law of war or the laws of armed conflict. At the same time, International Human Rights Law (HRL) is committed to promote and protect human rights at the international, regional and domestic level.The Centre for International Humanitarian Law and Human Rights strives to create a research based and an inquisitive platform for students in this area of law and to maintain an academic response to the persisting as well as the contemporary challenges in International Humanitarian Law and Human Rights Law.</p>
</section>
<section class="p-6" id="blogs">
    <section class="text-4xl text-sky-900 font-bold italic mb-8">About Institute</section>
    <p>Founded in alignment with the vision of Dr Karsanbhai K Patel in 2007, the Institute of Law at Nirma University (ILNU) focuses on bringing about a paradigm shift in the delivery of legal education in the country. Institute of Law aims to add newer dimensions in legal education that incorporate international standards and provide an environment for innovation and holistic development. Embodying the principles of justice education, excellence, and professionalism, ILNU imparts quality legal education that has produced lawyers, leaders, and policymakers who have carved a distinct niche over the years.</p>
</section>
<section class="p-6" id="blogs">
    <section class="text-4xl text-sky-900 font-bold italic mb-8">Our Team</section>
    <section class="grid lg:grid-cols-3 gap-4 sm:grid-cols-2 grid-cols-1 text-sky-950">
        <section class="w-full h-36 flex flex-col justify-between py-6 items-center bg-sky-900/40 rounded-3xl">
            <h1 class="text-3xl font-bold italic">Tanisha Rai</h1>
            <h2 class="text-lg">Chairperson, CIHL&HR</h2>
            <p> Email: 22bal208&#64;nirmauni.ac.in</p>
        </section>
        <section class="w-full h-36 flex flex-col justify-between py-6 items-center bg-sky-900/40 rounded-3xl">
            <h1 class="text-3xl font-bold italic">Mayank Panchpute</h1>
            <h2 class="text-lg">Vice Chairperson, CIHL&HR</h2>
            <p>Email: 22bbl169&#64;nirmauni.ac.in</p>
        </section>
        <section class="w-full h-36 flex flex-col justify-between py-6 items-center bg-sky-900/40 rounded-3xl">
            <h1 class="text-3xl font-bold italic">Riya Solanki</h1>
            <h2 class="text-lg">Secretary, CIHL&HR</h2>
            <p>Email: 23bbl044&#64;nirmauni.ac.in</p>
        </section>
    </section>
    

</section>