.line-clamp-5 {
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
}

.rounded-4xl {
    border-radius: 2rem;
}