<section class="h-40 md:h-32 px-5 py-2 flex md:flex-row flex-col gap-4 justify-between">
    <section class="flex w-full md:w-1/2 items-center gap-4 md:h-full h-3/4">
        <img src="logo.png" class="h-full">
        <h1 class="font-extrabold lg:text-3xl md:text-2xl sm:text-2xl text-lg bg-clip-text text-transparent bg-radial from-sky-500 via-sky-700 to-black/70">Centre for International Humatarian Laws and Human Rights</h1>
    </section>
    <section class="h-full flex items-center  w-full md:w-1/2">
        <ul class="flex gap-4 justify-around w-full">
            <li class="italic cursor-pointer px-4 py-1 text-sky-900 font-semibold" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</li>
            <li class="italic cursor-pointer px-4 py-1 text-sky-900 font-semibold" routerLink="/blogs" routerLinkActive="active-link">Blogs</li>
            <li class="italic cursor-pointer px-4 py-1 text-sky-900 font-semibold" routerLink="/events" routerLinkActive="active-link">Events</li>
            <li class="italic text-nowrap cursor-pointer px-4 py-1 text-sky-900 font-semibold" routerLink="/aboutus" routerLinkActive="active-link">About Us</li>
        </ul>
    </section>
</section>