<section class="h-40 md:h-28 sm:px-5 px-2 md:py-4 flex md:flex-row flex-col gap-4 justify-between">
    <section class="flex w-full md:w-1/2 items-center justify-center md:justify-start gap-4 md:h-full h-3/4">
        <section class="h-full flex justify-center items-center  gap-4 ">
            <img src="logo.png" class="md:h-3/4 h-7/12">
            <h1 class="font-extrabold md:text-4xl  text-3xl pr-6 text-sky-900">CIHL&HR</h1>
        </section>
    </section>
    <section class="h-full flex items-center  w-full md:w-1/2">
        <ul class="flex justify-around w-full ">
            <li class="italic cursor-pointer px-4 py-1 text-sky-900 font-semibold" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</li>
            <li class="italic cursor-pointer px-4 py-1 text-sky-900 font-semibold" routerLink="/blogs" routerLinkActive="active-link">Blogs</li>
            <li class="italic cursor-pointer px-4 py-1 text-sky-900 font-semibold" routerLink="/events" routerLinkActive="active-link">Events</li>
            <li class="italic cursor-pointer px-4 py-1 text-sky-900 font-semibold" routerLink="/aboutus" routerLinkActive="active-link">About Us</li>
        </ul>
    </section>
</section>