<section class="md:h-screen min-h-[calc(100vh-150px)] w-full flex flex-col justify-center md:gap-8 gap-3  md:pb-40 pb-20 md:pl-16 sm:pl-8 pl-6">
    <section class="md:text-4xl text-2xl text-sky-700 font-bold italic">Empowering Minds, Defending Rights</section>
    <section class="md:text-xl text-blue-900 italic font-mono md:w-1/2 w-3/4">Dedicated to research and critical inquiry, the Centre advances understanding of humanitarian and human rights law. We bring together academic rigor and practical insights to respond to today’s global challenges in protecting humanity.</section>
    <section class="md:text-lg text-sky-700 font-semibold italic md:pl-11 pl-4 py-2 border-2 md:w-48 w-32 rounded-full">Explore More</section>
    <div class="scroll-down absolute md:right-16 right-8 bottom-8 md:bottom-16 animate-bounce">
        <span class="material-symbols-outlined scale-200 text-sky-700">
            arrow_circle_down
        </span>
    </div>
</section>
<section class="p-6" id="blogs">
    <section class="text-4xl text-sky-900 font-bold italic mb-8">Recent Blogs</section>
    <section class="grid gap-5  lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 py-8">
          <div class="w-full overflow-hidden bg-sky-900/40 relative min-h-[500px] rounded-4xl hover:-translate-y-2 hover:shadow-2xl ease-in-out duration-300">
            <section class="absolute bg-sky-950 px-4 py-2 rounded-full text-sky-50 top-4 right-4">June 22, 2025</section>
            <figure class="h-56 "><img src="R.jpeg" class="h-full w-full object-cover "></figure>
            <section class="bg-sky-950 absolute bottom-0 h-[300px] flex flex-col justify-between rounded-4xl w-full p-4">
                <section class="text-sky-50 flex flex-col justify-between py-3 px-1 h-[200px]">
                    <h1 class=" text-lg font-bold  line-clamp-5 overflow-hidden">COMMERCIAL WISDOM vs. REGULATORY OVERSIGHT: ANALYSIS OF SUPREME COURT DECISION ON CCI APPROVAL IN CIRP</h1>
                    <p class=""> Author: Mr. Varun Akar</p>
                </section>
                <section class="bg-sky-50/80 h-[60px] cursor-pointer rounded-full relative flex justify-between items-center px-1"><p class="mx-4 italic font-semibold text-sky-900">Read More</p> <span class="w-[72px] h-[52px] rounded-full flex justify-center items-center text-sky-50 text-2xl bg-sky-950 "><span class="material-symbols-outlined">arrow_forward</span></span> </section>
            </section>
        </div>
        <div class="w-full overflow-hidden bg-sky-900/40 relative min-h-[500px] rounded-4xl hover:-translate-y-2 hover:shadow-2xl ease-in-out duration-300">
            <section class="absolute bg-sky-950 px-4 py-2 rounded-full text-sky-50 top-4 right-4">June 22, 2025</section>
            <figure class="h-56 "><img src="R2.jpg" class="h-full w-full object-cover "></figure>
            <section class="bg-sky-950 absolute bottom-0 h-[300px] flex flex-col justify-between rounded-4xl w-full p-4">
                <section class="text-sky-50 flex flex-col justify-between py-3 px-1 h-[200px]">
                    <h1 class=" text-lg font-bold  line-clamp-5 overflow-hidden">COMMERCIAL WISDOM vs. REGULATORY OVERSIGHT: ANALYSIS OF SUPREME COURT DECISION ON CCI APPROVAL IN CIRP</h1>
                    <p class=""> Author: Mr. Varun Akar</p>
                </section>
                <section class="bg-sky-50/80 h-[60px] cursor-pointer rounded-full relative flex justify-between items-center px-1"><p class="mx-4 italic font-semibold text-sky-900">Read More</p> <span class="w-[72px] h-[52px] rounded-full flex justify-center items-center text-sky-50 text-2xl bg-sky-950 "><span class="material-symbols-outlined">arrow_forward</span></span> </section>
            </section>
        </div>
        <div class="w-full overflow-hidden bg-sky-900/40 relative min-h-[500px] rounded-4xl hover:-translate-y-2 hover:shadow-2xl ease-in-out duration-300">
            <section class="absolute bg-sky-950 px-4 py-2 rounded-full text-sky-50 top-4 right-4">June 22, 2025</section>
            <figure class="h-56 "><img src="R.jpeg" class="h-full w-full object-cover "></figure>
            <section class="bg-sky-950 absolute bottom-0 h-[300px] flex flex-col justify-between rounded-4xl w-full p-4">
                <section class="text-sky-50 flex flex-col justify-between py-3 px-1 h-[200px]">
                    <h1 class=" text-lg font-bold  line-clamp-5 overflow-hidden">COMMERCIAL WISDOM vs. REGULATORY OVERSIGHT: ANALYSIS OF SUPREME COURT DECISION ON CCI APPROVAL IN CIRP</h1>
                    <p class=""> Author: Mr. Varun Akar</p>
                </section>
                <section class="bg-sky-50/80 h-[60px] cursor-pointer rounded-full relative flex justify-between items-center px-1"><p class="mx-4 italic font-semibold text-sky-900">Read More</p> <span class="w-[72px] h-[52px] rounded-full flex justify-center items-center text-sky-50 text-2xl bg-sky-950 "><span class="material-symbols-outlined">arrow_forward</span></span> </section>
            </section>
        </div>
        <div class="w-full overflow-hidden bg-sky-900/40 relative min-h-[500px] rounded-4xl hover:-translate-y-2 hover:shadow-2xl ease-in-out duration-300">
            <section class="absolute bg-sky-950 px-4 py-2 rounded-full text-sky-50 top-4 right-4">June 22, 2025</section>
            <figure class="h-56 "><img src="R2.jpg" class="h-full w-full object-cover "></figure>
            <section class="bg-sky-950 absolute bottom-0 h-[300px] flex flex-col justify-between rounded-4xl w-full p-4">
                <section class="text-sky-50 flex flex-col justify-between py-3 px-1 h-[200px]">
                    <h1 class=" text-lg font-bold  line-clamp-5 overflow-hidden">COMMERCIAL WISDOM vs. REGULATORY OVERSIGHT: ANALYSIS OF SUPREME COURT DECISION ON CCI APPROVAL IN CIRP</h1>
                    <p class=""> Author: Mr. Varun Akar</p>
                </section>
                <section class="bg-sky-50/80 h-[60px] cursor-pointer rounded-full relative flex justify-between items-center px-1"><p class="mx-4 italic font-semibold text-sky-900">Read More</p> <span class="w-[72px] h-[52px] rounded-full flex justify-center items-center text-sky-50 text-2xl bg-sky-950 "><span class="material-symbols-outlined">arrow_forward</span></span> </section>
            </section>
        </div>
        <div class="w-full overflow-hidden bg-sky-900/40 relative min-h-[500px] rounded-4xl hover:-translate-y-2 hover:shadow-2xl ease-in-out duration-300">
            <section class="absolute bg-sky-950 px-4 py-2 rounded-full text-sky-50 top-4 right-4">June 22, 2025</section>
            <figure class="h-56 "><img src="R.jpeg" class="h-full w-full object-cover "></figure>
            <section class="bg-sky-950 absolute bottom-0 h-[300px] flex flex-col justify-between rounded-4xl w-full p-4">
                <section class="text-sky-50 flex flex-col justify-between py-3 px-1 h-[200px]">
                    <h1 class=" text-lg font-bold  line-clamp-5 overflow-hidden">COMMERCIAL WISDOM vs. REGULATORY OVERSIGHT: ANALYSIS OF SUPREME COURT DECISION ON CCI APPROVAL IN CIRP</h1>
                    <p class=""> Author: Mr. Varun Akar</p>
                </section>
                <section class="bg-sky-50/80 h-[60px] cursor-pointer rounded-full relative flex justify-between items-center px-1"><p class="mx-4 italic font-semibold text-sky-900">Read More</p> <span class="w-[72px] h-[52px] rounded-full flex justify-center items-center text-sky-50 text-2xl bg-sky-950 "><span class="material-symbols-outlined">arrow_forward</span></span> </section>
            </section>
        </div>
        <div class="w-full overflow-hidden bg-sky-900/40 relative min-h-[500px] rounded-4xl hover:-translate-y-2 hover:shadow-2xl ease-in-out duration-300">
            <section class="absolute bg-sky-950 px-4 py-2 rounded-full text-sky-50 top-4 right-4">June 22, 2025</section>
            <figure class="h-56 "><img src="R.jpeg" class="h-full w-full object-cover "></figure>
            <section class="bg-sky-950 absolute bottom-0 h-[300px] flex flex-col justify-between rounded-4xl w-full p-4">
                <section class="text-sky-50 flex flex-col justify-between py-3 px-1 h-[200px]">
                    <h1 class=" text-lg font-bold  line-clamp-5 overflow-hidden">COMMERCIAL WISDOM vs. REGULATORY OVERSIGHT: ANALYSIS OF SUPREME COURT DECISION ON CCI APPROVAL IN CIRP</h1>
                    <p class=""> Author: Mr. Varun Akar</p>
                </section>
                <section class="bg-sky-50/80 h-[60px] cursor-pointer rounded-full relative flex justify-between items-center px-1"><p class="mx-4 italic font-semibold text-sky-900">Read More</p> <span class="w-[72px] h-[52px] rounded-full flex justify-center items-center text-sky-50 text-2xl bg-sky-950 "><span class="material-symbols-outlined">arrow_forward</span></span> </section>
            </section>
        </div>
        <div class="w-full overflow-hidden bg-sky-900/40 relative min-h-[500px] rounded-4xl hover:-translate-y-2 hover:shadow-2xl ease-in-out duration-300">
            <section class="absolute bg-sky-950 px-4 py-2 rounded-full text-sky-50 top-4 right-4">June 22, 2025</section>
            <figure class="h-56 "><img src="R.jpeg" class="h-full w-full object-cover "></figure>
            <section class="bg-sky-950 absolute bottom-0 h-[300px] flex flex-col justify-between rounded-4xl w-full p-4">
                <section class="text-sky-50 flex flex-col justify-between py-3 px-1 h-[200px]">
                    <h1 class=" text-lg font-bold  line-clamp-5 overflow-hidden">COMMERCIAL WISDOM vs. REGULATORY OVERSIGHT: ANALYSIS OF SUPREME COURT DECISION ON CCI APPROVAL IN CIRP</h1>
                    <p class=""> Author: Mr. Varun Akar</p>
                </section>
                <section class="bg-sky-50/80 h-[60px] cursor-pointer rounded-full relative flex justify-between items-center px-1"><p class="mx-4 italic font-semibold text-sky-900">Read More</p> <span class="w-[72px] h-[52px] rounded-full flex justify-center items-center text-sky-50 text-2xl bg-sky-950 "><span class="material-symbols-outlined">arrow_forward</span></span> </section>
            </section>
        </div>
        <div class="w-full overflow-hidden bg-sky-900/40 relative min-h-[500px] rounded-4xl hover:-translate-y-2 hover:shadow-2xl ease-in-out duration-300">
            <section class="absolute bg-sky-950 px-4 py-2 rounded-full text-sky-50 top-4 right-4">June 22, 2025</section>
            <figure class="h-56 "><img src="R.jpeg" class="h-full w-full object-cover "></figure>
            <section class="bg-sky-950 absolute bottom-0 h-[300px] flex flex-col justify-between rounded-4xl w-full p-4">
                <section class="text-sky-50 flex flex-col justify-between py-3 px-1 h-[200px]">
                    <h1 class=" text-lg font-bold  line-clamp-5 overflow-hidden">COMMERCIAL WISDOM vs. REGULATORY OVERSIGHT: ANALYSIS OF SUPREME COURT DECISION ON CCI APPROVAL IN CIRP</h1>
                    <p class=""> Author: Mr. Varun Akar</p>
                </section>
                <section class="bg-sky-50/80 h-[60px] cursor-pointer rounded-full relative flex justify-between items-center px-1"><p class="mx-4 italic font-semibold text-sky-900">Read More</p> <span class="w-[72px] h-[52px] rounded-full flex justify-center items-center text-sky-50 text-2xl bg-sky-950 "><span class="material-symbols-outlined">arrow_forward</span></span> </section>
            </section>
        </div>
</section>
<section class="p-6" id="image-corousal">
    <section class="text-4xl text-sky-900 font-bold italic mb-8">Recent Events Snaps</section>
    <div class="relative w-full h-[600px] overflow-hidden rounded-lg py-4">
        <!-- Images -->
        <div *ngFor="let image of images; let i = index" 
             [class.hidden]="currentImageIndex !== i"
             class="absolute w-full h-full transition-all duration-500 ease-in-out ">
             <figure class="flex h-full w-full justify-center">

                 <img [src]="image" class="w-auto h-full object-cover" [alt]="'Slide ' + (i + 1)">
            </figure>
        </div>

        <!-- Navigation Buttons -->
        <button (click)="previousImage()" 
                class="absolute left-4 top-1/2 -translate-y-1/2 bg-sky-950/70 text-white p-4 rounded-full hover:bg-sky-950 transition-all">
            <span class="material-symbols-outlined">arrow_back</span>
        </button>
        <button (click)="nextImage()" 
                class="absolute right-4 top-1/2 -translate-y-1/2 bg-sky-950/70 text-white p-4 rounded-full hover:bg-sky-950 transition-all">
            <span class="material-symbols-outlined">arrow_forward</span>
        </button>

        <!-- Dot indicators -->
        <div class="absolute bottom-4 left-1/2 -translate-x-1/2 flex gap-2">
            <button *ngFor="let image of images; let i = index" 
                    (click)="setCurrentImage(i)"
                    [class]="currentImageIndex === i ? 'w-3 h-3 rounded-full bg-sky-950' : 'w-3 h-3 rounded-full bg-sky-950/40'"
                    class="transition-all duration-300 hover:bg-sky-950">
            </button>
        </div>
    </div>
</section>
</section>