<section class="md:h-screen min-h-[calc(100vh-100px)] w-full flex flex-col justify-center md:gap-8 gap-3  md:pb-40 pb-16 md:pl-16 pl-8">
    <section class="md:text-4xl text-2xl text-sky-700 font-bold italic">Empowering Minds, Defending Rights</section>
    <section class="md:text-xl text-blue-900 italic font-mono md:w-1/2 w-3/4">Dedicated to research and critical inquiry, the Centre advances understanding of humanitarian and human rights law. We bring together academic rigor and practical insights to respond to today’s global challenges in protecting humanity.</section>
    <section class="md:text-lg text-sky-700 font-semibold italic md:pl-11 pl-4 py-2 border-2 md:w-48 w-32 rounded-full">Explore More</section>
    <div class="scroll-down absolute md:right-16 right-8 bottom-8 md:bottom-16 animate-bounce">
        <span class="material-symbols-outlined scale-200 text-sky-700">
            arrow_circle_down
        </span>
    </div>
</section>
<section class="px-6" id="blogs">
    <section class="text-4xl text-sky-900 font-bold italic">Recent Blogs</section>
    

</section>